
                <div class="row row-grid align-items-center justify-content-center">
                    <div class="col-12 col-md-7">
                        <h5 class="">Got questions?</h5>
                        <form name="Enquiry Form" netlify-honeypot="bot-field-2" data-netlify="true">
                            <p class="d-none">
                              <label>
                                Don't fill this out if you're human: <input name="bot-field-2" />
                              </label>
                            </p>
                            <input type="hidden" name="asset" value="@@asset">
                            <div class="form-row mb-2">
                                <div class="col-12">
                                    <input type="name" class="form-control mb-2" placeholder="Your Name" name="name" aria-label="Your Name" required>
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-control mb-2" placeholder="your@email.com" name="email" aria-label="Your Email Address" required>
                                </div>
                                <div class="col-12">
                                    <input type="phone" class="form-control mb-2" placeholder="+63 987 1234567" name="phone" aria-label="Your Phone Number" >
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-dark shadow-soft btn-block" data-loading-text="Sending">
                                        <span>Submit Contact Details</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>