<footer class="footer py-5 pt-lg-6">
    <div class="sticky-right">
        <a href="#home" class="icon icon-primary icon-md btn btn-icon-only btn-white border border-soft shadow-soft animate-up-3">
            <span class="fas fa-chevron-up"></span>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <p>NFReal is a method for selling valuable real items using NFTs.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <!-- <li>
                        <a href="https://twitter.com/nfreal" aria-label="twitter social link" class="icon icon-md icon-twitter mr-3" target="_blank" rel="noopener noreferrer">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li> -->
                    <li>
                        <a href="https://www.facebook.com/nfrealcc" class="icon icon-md icon-facebook mr-3" aria-label="facebook social link" target="_blank" rel="noopener noreferrer" title="Like us on Facebook">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="https://github.com/nfreal" aria-label="github social link" class="icon icon-md icon-github mr-3" target="_blank" rel="noopener noreferrer">
                            <span class="fab fa-github"></span>
                        </a>
                    </li> -->
                    <li>
                        <a href="https://www.instagram.com/nfrealcc/" class="icon icon-md icon-instagram mr-3" aria-label="instagram social link" target="_blank" rel="noopener noreferrer" title="Follow us on Instagram">
                            <span class="fab fa-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:nfrealcc@gmail.com" class="icon icon-md icon-email" aria-label="email link" title="Email us">
                            <span class="fa fa-envelope"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">NFReal</span>
                <ul class="footer-links mt-2">
                    <li><a href="blog.html">Home</a></li>
                    <!-- <li><a href="products.html">Products</a></li> -->
                    <li><a href="about.html">About</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="assets-for-sale.html">Assets for Sale</a></li>
                    <li><a href="art-database.html">Art Database</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <span class="h5 mb-3 d-block">Subscribe</span>
                <form name="Subscribe to Newletter" netlify-honeypot="bot-field" data-netlify="true">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <p class="d-none">
                              <label>
                                Don't fill this out if you're human: <input name="bot-field" />
                              </label>
                            </p>
                            <input type="email" class="form-control mb-2" placeholder="your@email.com" name="email" aria-label="Subscribe form" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark shadow-soft btn-block" data-loading-text="Sending">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-muted font-small m-0">No spam. Pinky swear.</p>
            </div>
        </div>
        <hr class="bg-light my-2">
        <div class="row pt-2 pt-lg-5">
            <div class="col mb-md-0">
                <a href="index.html" class="d-flex justify-content-center">
                    <img src="@@webRoot/assets/img/logo-nfreal-dark.png" height="37" class="mb-3" alt="NFReal Logo">
                </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © NFReal <span class="current-year">2022</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>