<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="espidesigns">
<meta name="description" content="NFReal is a method for selling valuable real items using NFTs">
<meta name="keywords" content="nft, non-fungible token, crypto, assets, art, artwork, showcase, marketplace, database" />
<link rel="canonical" href="https://nfreal.com">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://nfreal.com">
<meta property="og:title" content="@@title">
<meta property="og:description" content="NFReal is a method for selling valuable real items using NFTs">
<meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/swipe/swipe-thumbnail.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://nfreal.com">
<meta property="twitter:title" content="@@title">
<meta property="twitter:description" content="NFReal is a method for selling valuable real items using NFTs">
<meta property="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/swipe/swipe-thumbnail.jpg">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@webRoot/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@webRoot/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="@@webRoot/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="@@webRoot/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Swipe CSS -->
<link type="text/css" href="@@webRoot/css/swipe.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
@@if (environment === 'production') {
    @@include('./_analytics.html')
}